/*=======================
        CONFIGS
=========================*/
$default-bg: $color-lavender;
$action-call-bg: $color-mediumblue;

/*=======================
        DEFAULT
=========================*/
.m-button {
    background-color:$default-bg;
    border-radius: $border-radius;

    color: $color-darkgray;
    
}

/*=======================
        MODIFIERS
=========================*/

.m-button--action-call {
    background-color: $color-mediumblue;
    border-color: $color-mediumblue ;
    color: $color-azure;
}

.m-button--block {
        display: block;
        width: 100%;
}