/*=======================
        CONFIGS
=========================*/

/*=======================
        DEFAULT 
=========================*/
.m-menu {
    border: .5px solid #ddd;
    padding: .5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    list-style: none;
}
    .m-menu__item {}

        .m-menu__link {
            display: block;
            padding: 10px 12px;
            &:hover {
                background-color: #ddd;
            }
        }


/*=======================
        MODIFIERS
=========================*/

.m-menu--column {
    flex-direction: column;
}

// Dispay menu in column in min-width: $breakpoin_lg
// .menu--column-lg {
//     flex-direction: column;
// }